.main {
  display: flex;
  flex-direction: column;
  background: var(--app-bg-color);

  button {
    margin: 0;
    border: none;
    font-size: 1.5em;
    background: var(--button-bg-color);
    color: var(--text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: '-';
  }

  .buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: .5em;

    >button,
    .activityButton {
      flex: 1;
    }
  }

  .globalActions {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    button {
      background: var(--accent-bg-color);
      padding: .5em;
    }
  }
}
