:root {
  --app-bg-color: #527F6A;
  --button-bg-color: #B9C59B;
  --accent-bg-color: #F8B68A;
  --text-color: #0d0d0d;
}

body {
  font-family: 'Barlow';
  color: var(--text-color);
}

#app {
  height: 100vh;
  width: 100%;
  max-width: 40em;
  margin: auto;
  background: var(--app-bg-color);

  .main {
    display: flex;
    flex-direction: column;

    button {
      margin: 0;
      border: none;
      font-size: 2em;
      background: var(--button-bg-color);
      color: var(--text-color);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: '-';
    }

    .buttons {
      flex: 1;
      display: flex;
      flex-direction: column;
      row-gap: .5em;

      .activityButton {
        >button {
          width: 100%;
          height: 100%;
        }

        .context {
          position: fixed;
          transition: left .2s;
          top: 0;
          bottom: 0;
          right: 0;
          left: 100%;
          background: var(--app-bg-color);
          display: flex;
          flex-direction: column;
          overflow: auto;

          button {
            width: 100%;
          }

          &.shown {
            left: 0;
          }

          .actions,
          .otherActions {
            display: flex;
            flex-direction: column;
          }

          .actions {
            flex: 1;
            gap: 1em;
            margin-bottom: 1em;

            button {
              flex: 1;
            }
          }

          .otherActions {
            font-size: .6em;
            gap: .5em;

            button {
              background: var(--accent-bg-color);
            }
          }
        }
      }
    }

    .globalActions {
      margin-top: 2em;
      display: flex;
      flex-direction: column;

      button {
        background: var(--accent-bg-color);
      }
    }
  }
}
