:root {
  --app-bg-color: #527F6A;
  --button-bg-color: #B9C59B;
  --accent-bg-color: #F8B68A;
  --text-color: #0d0d0d;
}

body {
  font-family: 'Barlow';
  color: var(--text-color);
}

#app {
  height: 100vh;
  width: 100%;
  max-width: 20em;
  margin: auto;
  background: var(--app-bg-color);

  .main {
    display: flex;
    flex-direction: column;

    button {
      margin: 0;
      margin-bottom: .25em;
      border: none;
      font-size: 2em;
      background: var(--button-bg-color);
      color: var(--text-color);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: '-';
    }

    .buttons {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .globalActions {
      margin-top: 2em;
      display: flex;
      flex-direction: column;

      button {
        background: var(--accent-bg-color);

      }
    }
  }

  .activityButtonContextMenu {
    background: var(--button-bg-color);
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    padding: 1em;
    border-top: .4em solid var(--app-bg-color);

    transition: bottom .4s;
    bottom: -100%;

    &.shown {
      bottom: 0;
    }

    button {
      margin: 0;
      margin-bottom: .25em;
      border: none;
      font-size: 1.5em;
      background: var(--app-bg-color);
      color: var(--text-color);
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    display: none;

    &.shown {
      display: block;
    }
  }
}
